<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/calendrier_gif</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

	<mapping class="fr.humanbooster.fx.calendrier_gif.business.Emotion"/>
	<mapping class="fr.humanbooster.fx.calendrier_gif.business.Gif" />
	<mapping class="fr.humanbooster.fx.calendrier_gif.business.GifDistant" />
	<mapping class="fr.humanbooster.fx.calendrier_gif.business.GifTeleverse" />
	<mapping class="fr.humanbooster.fx.calendrier_gif.business.Jour" />
	<mapping class="fr.humanbooster.fx.calendrier_gif.business.Reaction" />
	<mapping class="fr.humanbooster.fx.calendrier_gif.business.Theme" />
	<mapping class="fr.humanbooster.fx.calendrier_gif.business.Utilisateur" />
	
    </session-factory>
</hibernate-configuration>

